<launch>
    <node pkg="line_with_ultrasound" type="ultrasonic_dist.py" name="ultrasonic_dist" output="screen"/>
    <node pkg="line_with_ultrasound" type="read_line.py" name="read_line"  output="screen"/>
    <node pkg="line_with_ultrasound" type="line_follower.py" name="line_follower" output="screen"/>
    <node pkg="line_with_ultrasound" type="Line_with_Avoidance.py" name="driver_motor" output="screen"/>

</launch>
