<launch>
    <node name="teleop_motor" pkg="line_follower_robot" type="teleop_motor.py" output="screen"/>   
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
      <remap from="cmd_vel" to="cmd_vel"/>
    </node>

    <node name="camera_Pub" pkg="camera" type="cam_pub.py" output="screen">
    </node>

<node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
      <param name="port" value="8080" />
      <param name="output" value="mjpeg" />
    </node>

</launch>
